.gallery-food {
    display: grid;
    grid-template-areas:
        "left-1  left-2  right-4 right-4"
        "left-3  left-3  right-4 right-4"
        "left-5  left-5  right-6  right-7";
    grid-gap: 10px;
    .pic {
        background-color: black;
        img {
            width: 100%;
            height: 100%;
            align-items: center;
        }
    }
    .pic-1 {
        grid-area: left-1;
    }
    .pic-2 {
        display: flex;
        grid-area: left-2;
    }
    .pic-3 {
        grid-area: left-3;
    }
    .pic-4 {
        grid-area: right-4;
    }
    .pic-5 {
        grid-area: left-5;
    }
    .pic-6 {
        grid-area: right-6;
    }
    .pic-7 {
        grid-area: right-7;
    }
}
