.icon {
  width: 20px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
}
.working-desk {
  background-image: url(../public/assets/icon/working-desk.png);
}
.cable-tv {
  background-image: url(../public/assets/icon/cable-tv.png);
}
.free-water {
  background-image: url(../public/assets/icon/wine-bottle.png);
}
.mini-bar {
  background-image: url(../public/assets/icon/mini-bar.png);
}
.iron {
  background-image: url(../public/assets/icon/iron.png);
}
.blackout {
  background-image: url(../public/assets/icon/blackout.png);
}
.air-con {
  background-image: url(../public/assets/icon/air-condition.png);
}
.house-keeping {
  background-image: url(../public/assets/icon/house-keeping.png);
}
.coffee-tea {
  background-image: url(../public/assets/icon/coffee-tea.png);
}
