@font-face {
  font-family: "Poppins";
  src: url(../public/assets/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins-Bold";
  src: url(../public/assets/fonts/Poppins/Poppins-Bold.ttf);
}
// @font-face {
//     font-family: "Poppins-Light";
//     src: url(../public/assets/fonts/Poppins/Poppins-Light.ttf);
// }

@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../public/assets/fonts/Poppins/Poppins-SemiBold.ttf);
}

// @font-face {
//     font-family: "Poppins-Medium";
//     src: url(../public/assets/fonts/Poppins/Poppins-Medium.ttf);
// }

// primary
$primaryBlack300: #3a4241;
$primaryBlue: #5c7080;
$primaryGrey300: #909594;
$primaryGrey200: #c4c4c4;
$primaryGrey100: #cdcdcd;
$primaryWhite: #ffffff;
// secondary
$secondaryLightBrow: #8c6239;
$secondaryLightRed: #f8dec3;
$secondaryLight: #f7f5f1;
